/* background colors */
$primary-color: #fff;
$input-color: rgba(172, 172, 172, 1);
$footer-color: rgba(169, 191, 228, 1);
$facility-color: rgba(169, 191, 228, 0.3);
$review-color: rgba(169, 191, 228, 0.2);

/* text colors */
$primary-text: #351f21;
$facility-text: rgba(152, 158, 195, 1);

/* button colors */
$primary-button: #FFC2C7;
$basket-button: #a9bfe4;
$catalog-button: #989EC3;

/* shadows-color */
$primary-shadow: rgba(0, 0, 0, 0.25);
$card-shadow: rgba(255, 194, 199, 1);
$hver-shadow: #ACACAC;

/* sizes */
$std-size: 100px;
$form-width: 45em;
$background-size: 350px;
$width-size: 200px;
$height-size: 330px;
$left-size: 50%;
$std-width: 60%;

/* indents */
$std-indents: .5em;
$bold-indents: 2em;

/* margins */
$std-margin: 1em;
$solid-margin: 1.5em;
$margin-primary: 5%;
$std-padding: 2.5em;
$big-margin: 3em;
$margin-left: 4em;
$height-margin: 10em;
/* radius */
$border-radius: 50px;

/* border */
$std-border: 2px;

/* transform */
$rotating: 270deg;

/* box-shadow */
$box-shadow-size: 0px 4px 8px;

/*fonts info*/
$font-Sans: 'Source Sans Pro', sans-serif;
$font-Lora: 'Lora', serif;
